@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+3:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);
* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
  }

button:hover {
    cursor: pointer;
}

header {
    background-image: url(bg4.svg);
    height: 800px;
    display: flex;
    justify-content: space-around;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    margin-top: 53px;
}
.navigation_links {
    display: flex;
    margin-top: 71px;
    color: white;
    font-size: 20px;
}

.navigation_items {
margin-right: 70px;
}
.navigation_item {
    text-decoration: none;
    color: white;
    font-family: Source Sans 2;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.6px;
    text-align: left;

}
.header_links {
    margin-top: 60px;
}
.title {
    text-align: center;
    position: absolute;
    margin-top: 330px;
    color: white;
}
.h1 {
    font-family: Montserrat;
    font-size: 80px;
    font-weight: 700;
    line-height: 97.52px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-bottom: 20px;
}
.p {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    letter-spacing: 0.3em;
}
.main_text {
    text-align: center;
    margin-top: 30px;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.64px;
    
 
}
.line {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.main_content {
    margin-top: 90px;
    display: flex;
} 
.main_content_text {
    margin-top: 140px;
    margin-left: 70px;
}

.main_head_text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 26.82px;
    text-align: left;

}
.main_title {
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.64px;
    text-align: left;
    margin-bottom: 19px;

}
.main_info {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    max-width: 470px;
    margin-bottom: 40px;

}
.main_button {
    width: 190px;
    height: 50px;
    border: 1px solid #2C4058;
    background-color: white;
    margin-bottom: 60px;
}
.main_geo {
    font-family: Open Sans;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 20.43px;
    text-align: left;
}
.geo {
    text-decoration: none;
    color: black;
}

.main_content_2 {
    display: flex;
    justify-content: end;
    margin-top: 120px;
}
.main_content_text_2 {
    margin-top: 140px;
    margin-right: 70px;
}

.content {
    background-image: url(mainbg.svg);
    height: 978px;
    background-repeat: no-repeat;
    background-size: cover;
}

.content2_text {
    text-align: center;
    padding-top: 120px;
    margin-top: 150px;
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.64px;
    color: white;

}

.content_text {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 26.82px;
    padding-left: 20px;
    margin-top: 30px;
    width: 330px;
    text-align: left;
}

.content_titel {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.51px;
    text-align: left;
    color: #2C4058;
    width: 330px;
    margin-top: 15px;
    padding-left: 20px;
    margin-bottom: 46px;

}
.review {
    display: flex;

}
.user {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.94px;
    max-width: 184px;
    margin-left: 20px;
    margin-top: 10px;
}

.user_photo {
    border-radius: 50px;
    margin-bottom: 30px;
    margin-left: 20px;
}

.data {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    margin-top: 50px;
    margin-left: 20px;
    color: #55B7FF;
    position: absolute;
    margin-left: 101px;
    margin-top: 30px;

}

.swiper {
    width: 1170px;
    margin-top: 90px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
   
  }
  

  .swiper_button_prew {
   
  }
  .swiper-pagination {
    
  }

    

  .content_photo {
    width: 370px;
    height: 240px;
  }





  .content3_titel {
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.64px;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 90px;
  }

  .content3_wrapper {
    display: flex;
    justify-content: center;
  }

  .p1 {
    grid-area: p1;
  }
  .p2 {
    grid-area: p2;
  }
  .p3 {
    grid-area: p3;
  }
  .p4 {
    grid-area: p4;
  }
  .p5 {
    grid-area: p5;
  }

  .content3_item {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
grid-template-columns: repeat(3, );
    
    grid-template-areas:
    "p1 p2 p3"
    "p1 p4 p5"
  
  }
  
  
  .content3_button {
    width: 190px;
    height: 50px;
    border: 1px solid #2C4058;
    background-color: white;
    margin-top: 60px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: center;
    margin-bottom: 150px;
  }
  .button_wrapper {
    display: flex;
    justify-content: center;
  }

  img:hover {
    cursor: pointer;
    
  }


.p1:hover{
    background: url(search.svg) no-repeat center #555555;
    background-size: 70px;
    transition: .4s;
  }

.p2:hover{
    background: url(search.svg) no-repeat center #555555;
    background-size: 70px;
    transition: .4s;
  }


footer {
    background-image: url(footerbg.svg);
    height: 549px;
    margin-top: -4px;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_text {
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17.07px;
    text-align: left;
    color: white;
  }

.footer_wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-top: 203px;
}



.form {
    width: 770px;
    height: 450px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    margin-top: 4850px;
     background-image: url(fbg.svg);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 2px 50px 2px black;
    
    
}
.form_wrapper {
    display: flex;
    justify-content: center;
}

.form_titel {
    font-family: Montserrat;
    font-size: 44px;
    font-weight: 700;
    line-height: 53.64px;
    text-align: center;
    margin-top: 20px;
    
}


.info_wrapper {
    display: flex;
    justify-content: space-around;
}

.form_input {
    margin-top: 42px;
}

.form_info {
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    text-align: left;

}
.input {
    width: 310px;
    height: 41px;
    border: none;
    border-bottom: 1px solid black;
    background-color: transparent;
    color: inherit;
    outline: none;
    font-size: 18px;
}
.form_button {
    width: 140px;
    height: 50px;
    margin-left: 172px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    background-color: rgba(224, 11, 11, 0);
    border: 1px solid black;
    margin-bottom: 40px;

}
.form_button:hover {
    cursor: pointer;
}

.form_icon {
    width: 15px;
    height: 15px;
    margin-right: 5px;
}



.arrow {
width: 40px;
height: 40px;
margin-top: 250px;

}
